In [55]:
import pandas as pd
import os
import numpy as np

In [24]:
files={}
for file in os.listdir("../data/main"):
    print(file)
    files[file]=pd.read_csv("../data/main/"+file,columns=["TIMESTAMP"])

routes.csv

TypeError: parser_f() got an unexpected keyword argument 'columns'

In [9]:
data=pd.read_csv("../data/main/training.csv",index_col=0).sort_values(["BUS_ID","TIMESTAMP"])

In [6]:
test=pd.read_csv("../data/main/test.csv",index_col=0)

In [42]:
#test data prep
tr

,RECORD_DATE,BUS_ID,BUSROUTE_ID,BUSSTOP_ID,BUSSTOP_SEQ,TIMESTAMP
index,,,,,,
2900949,2020-01-18 08:02:06,643133010,11100670,1455,3,1579334526
2901071,2020-01-18 08:04:13,643133010,11100670,1456,4,1579334653
2901176,2020-01-18 08:06:01,643133010,11100670,1457,5,1579334761
2901373,2020-01-18 08:08:42,643133010,11100670,501,7,1579334922
2901776,2020-01-18 08:13:43,643133010,11100670,508,8,1579335223
2901978,2020-01-18 08:15:41,643133010,11100670,506,9,1579335341
2902129,2020-01-18 08:17:06,643133010,11100670,505,10,1579335426
2902751,2020-01-18 08:21:51,643133010,11100670,507,11,1579335711
2903003,2020-01-18 08:23:36,643133010,11100670,509,12,1579335816
2904234,2020-01-18 08:31:18,643133010,11100670,1459,13,1579336278
2904456,2020-01-18 08:32:36,643133010,11100670,1454,2,1579336356
2904604,2020-01-18 08:33:30,643133010,11100670,1455,3,1579336410
2906466,2020-01-18 08:43:10,643133010,11100670,1457,5,1579336990
2906961,2020-01-18 08:45:36,643133010,11100670,501,7,1579337136
2908342,2020-01-18 08:52:02,643133010,11100670,508,8,1579337522
2908770,2020-01-18 08:54:04,643133010,11100670,506,9,1579337644
2909089,2020-01-18 08:55:35,643133010,11100670,505,10,1579337735
2910361,2020-01-18 09:01:13,643133010,11100670,507,11,1579338073
2910698,2020-01-18 09:02:41,643133010,11100670,509,12,1579338161
2912530,2020-01-18 09:11:03,643133010,11100670,1459,13,1579338663
2913005,2020-01-18 09:13:16,643133010,11100670,1455,3,1579338796
2913416,2020-01-18 09:15:02,643133010,11100670,1456,4,1579338902
2914901,2020-01-18 09:21:29,643133010,11100670,1457,5,1579339289
2915444,2020-01-18 09:23:51,643133010,11100670,501,7,1579339431
2916975,2020-01-18 09:30:25,643133010,11100670,508,8,1579339825
2917419,2020-01-18 09:32:20,643133010,11100670,506,9,1579339940
2917784,2020-01-18 09:33:50,643133010,11100670,505,10,1579340030
2919422,2020-01-18 09:40:58,643133010,11100670,507,11,1579340458
2919753,2020-01-18 09:42:18,643133010,11100670,509,12,1579340538
2921790,2020-01-18 09:51:00,643133010,11100670,1459,13,1579341060
...,...,...,...,...,...,...
2404216,2020-01-16 08:20:37,645133011,11100670,1456,4,1579162837
2404960,2020-01-16 08:22:50,645133011,11100670,1457,5,1579162970
2405383,2020-01-16 08:24:13,645133011,11100670,1458,6,1579163053
2405761,2020-01-16 08:25:17,645133011,11100670,501,7,1579163117
2407940,2020-01-16 08:31:58,645133011,11100670,508,8,1579163518
2408642,2020-01-16 08:34:03,645133011,11100670,506,9,1579163643
2409129,2020-01-16 08:35:31,645133011,11100670,505,10,1579163731
2410296,2020-01-16 08:39:07,645133011,11100670,507,11,1579163947
2410723,2020-01-16 08:40:27,645133011,11100670,509,12,1579164027
2413468,2020-01-16 08:48:51,645133011,11100670,1459,13,1579164531
2413905,2020-01-16 08:50:17,645133011,11100670,1454,2,1579164617
2414192,2020-01-16 08:51:09,645133011,11100670,1455,3,1579164669
2414684,2020-01-16 08:52:41,645133011,11100670,1456,4,1579164761
2415568,2020-01-16 08:55:13,645133011,11100670,1457,5,1579164913
2416038,2020-01-16 08:56:37,645133011,11100670,1458,6,1579164997
2416398,2020-01-16 08:57:41,645133011,11100670,501,7,1579165061
2418403,2020-01-16 09:03:46,645133011,11100670,508,8,1579165426
2419059,2020-01-16 09:05:46,645133011,11100670,506,9,1579165546
2419496,2020-01-16 09:07:06,645133011,11100670,505,10,1579165626
2420441,2020-01-16 09:09:56,645133011,11100670,507,11,1579165796
2420896,2020-01-16 09:11:20,645133011,11100670,509,12,1579165880
2423554,2020-01-16 09:18:59,645133011,11100670,1459,13,1579166339
2423997,2020-01-16 09:20:14,645133011,11100670,1454,2,1579166414
2424284,2020-01-16 09:21:01,645133011,11100670,1455,3,1579166461
2424928,2020-01-16 09:22:51,645133011,11100670,1456,4,1579166571
2427105,2020-01-16 09:29:12,645133011,11100670,1457,5,1579166952
2427729,2020-01-16 09:30:57,645133011,11100670,1458,6,1579167057
2428145,2020-01-16 09:32:12,645133011,11100670,501,7,1579167132
2430342,2020-01-16 09:38:45,645133011,11100670,508,8,1579167525
2431068,2020-01-16 09:40:51,645133011,11100670,506,9,1579167651

In [46]:
diffz=-tr["TIMESTAMP"].diff(-1)
diffz[tr["BUS_ID"].diff(-1) == 0]

In [62]:
d=diffz[tr["BUS_ID"].diff(-1) == 0]

In [64]:
tr.loc[d.index].shape

(3262, 6)

In [37]:
la=data[data["BUSROUTE_ID"]==11100670]
tr=la.iloc[:int(0.8*len(la))]
ev=la.iloc[int(0.8*len(la)):]
te=test[test["BUSROUTE_ID"]==11100670]

os.mkdir("../data/test")
tr.to_csv("../data/test/train.csv")
ev.to_csv("../data/test/eval.csv")
te.to_csv("../data/test/test.csv")

In [67]:
a=pd.Series([1,2,3,4,5],index=[1,2,3,4,5])
b=pd.Series([1,2,3,4],index=[3,4,5,6])

In [68]:
a-b

1    NaN
2    NaN
3    2.0
4    2.0
5    2.0
6    NaN
dtype: float64

In [16]:
data["BUS_ID"].unique()

array([     2053,      2058,      2061, ..., 983516012, 983606001,
       985606003])

In [17]:
from sklearn.utils.testing import all_estimators
from sklearn import base

estimators = all_estimators()

for name, class_ in estimators:
    if issubclass(class_, base.RegressorMixin):
        print(name)

ARDRegression
AdaBoostRegressor
BaggingRegressor
BayesianRidge
CCA
DecisionTreeRegressor
ElasticNet
ElasticNetCV
ExtraTreeRegressor
ExtraTreesRegressor
GaussianProcessRegressor
GradientBoostingRegressor
HuberRegressor
KNeighborsRegressor
KernelRidge
Lars
LarsCV
Lasso
LassoCV
LassoLars
LassoLarsCV
LassoLarsIC
LinearRegression
LinearSVR
MLPRegressor
MultiTaskElasticNet
MultiTaskElasticNetCV
MultiTaskLasso
MultiTaskLassoCV
NuSVR
OrthogonalMatchingPursuit
OrthogonalMatchingPursuitCV
PLSCanonical
PLSRegression
PassiveAggressiveRegressor
RANSACRegressor
RadiusNeighborsRegressor
RandomForestRegressor
Ridge
RidgeCV
SGDRegressor
SVR
TheilSenRegressor
TransformedTargetRegressor

In [15]:
!pip3 install pytest

Collecting pytest
  Downloading https://files.pythonhosted.org/packages/c7/e2/c19c667f42f72716a7d03e8dd4d6f63f47d39feadd44cc1ee7ca3089862c/pytest-5.4.1-py3-none-any.whl (246kB)
    100% |████████████████████████████████| 256kB 203kB/s ta 0:00:01
Collecting more-itertools>=4.0.0 (from pytest)
  Downloading https://files.pythonhosted.org/packages/72/96/4297306cc270eef1e3461da034a3bebe7c84eff052326b130824e98fc3fb/more_itertools-8.2.0-py3-none-any.whl (43kB)
    100% |████████████████████████████████| 51kB 1.1MB/s ta 0:00:011
Collecting wcwidth (from pytest)
  Downloading https://files.pythonhosted.org/packages/58/b4/4850a0ccc6f567cc0ebe7060d20ffd4258b8210efadc259da62dc6ed9c65/wcwidth-0.1.8-py2.py3-none-any.whl
Collecting packaging (from pytest)
  Downloading https://files.pythonhosted.org/packages/62/0a/34641d2bf5c917c96db0ded85ae4da25b6cd922d6b794648d4e7e07c88e5/packaging-20.3-py2.py3-none-any.whl
Collecting attrs>=17.4.0 (from pytest)
  Using cached https://files.pythonhosted.org/packages/a2/db/4313ab3be961f7a763066401fb77f7748373b6094076ae2bda2806988af6/attrs-19.3.0-py2.py3-none-any.whl
Collecting importlib-metadata>=0.12; python_version < "3.8" (from pytest)
  Downloading https://files.pythonhosted.org/packages/8b/03/a00d504808808912751e64ccf414be53c29cad620e3de2421135fcae3025/importlib_metadata-1.5.0-py2.py3-none-any.whl
Collecting py>=1.5.0 (from pytest)
  Downloading https://files.pythonhosted.org/packages/99/8d/21e1767c009211a62a8e3067280bfce76e89c9f876180308515942304d2d/py-1.8.1-py2.py3-none-any.whl (83kB)
    100% |████████████████████████████████| 92kB 1.2MB/s ta 0:00:011
Collecting pluggy<1.0,>=0.12 (from pytest)
  Downloading https://files.pythonhosted.org/packages/a0/28/85c7aa31b80d150b772fbe4a229487bc6644da9ccb7e427dd8cc60cb8a62/pluggy-0.13.1-py2.py3-none-any.whl
Collecting six (from packaging->pytest)
  Downloading https://files.pythonhosted.org/packages/65/eb/1f97cb97bfc2390a276969c6fae16075da282f5058082d4cb10c6c5c1dba/six-1.14.0-py2.py3-none-any.whl
Collecting pyparsing>=2.0.2 (from packaging->pytest)
  Downloading https://files.pythonhosted.org/packages/5d/bc/1e58593167fade7b544bfe9502a26dc860940a79ab306e651e7f13be68c2/pyparsing-2.4.6-py2.py3-none-any.whl (67kB)
    100% |████████████████████████████████| 71kB 1.5MB/s ta 0:00:011
Collecting zipp>=0.5 (from importlib-metadata>=0.12; python_version < "3.8"->pytest)
  Downloading https://files.pythonhosted.org/packages/b2/34/bfcb43cc0ba81f527bc4f40ef41ba2ff4080e047acb0586b56b3d017ace4/zipp-3.1.0-py3-none-any.whl
Installing collected packages: more-itertools, wcwidth, six, pyparsing, packaging, attrs, zipp, importlib-metadata, py, pluggy, pytest
Successfully installed attrs-19.3.0 importlib-metadata-1.5.0 more-itertools-8.2.0 packaging-20.3 pluggy-0.13.1 py-1.8.1 pyparsing-2.4.6 pytest-5.4.1 six-1.14.0 wcwidth-0.1.8 zipp-3.1.0

In [20]:
a=pd.DataFrame({"a":[1,2,3],"b":[2,3,4]})
b=pd.DataFrame({"a":[1,2,3],"b":[2,3,4]})

In [23]:
pd.concat([a,b],axis=1)

   a  b  a  b
0  1  2  1  2
1  2  3  2  3
2  3  4  3  4

In [72]:
miss_val=test["TIMESTAMP"].isnull()+0

In [73]:
miss_val.describe()

count    1.557464e+06
mean     7.625775e-01
std      4.255034e-01
min      0.000000e+00
25%      1.000000e+00
50%      1.000000e+00
75%      1.000000e+00
max      1.000000e+00
Name: TIMESTAMP, dtype: float64

In [84]:
miss_val.values

array([0, 1, 0, ..., 1, 1, 0])

In [95]:
x=data["TIMESTAMP"][:100]

In [93]:
x.iloc[np.where(miss_val.values[:100])]=np.nan

In [98]:
for i, v in x.iteritems():
    print(i,v)

173467 1578330214
1624542 1578900505
1625151 1578900622
1625791 1578900745
1626425 1578900866
1627161 1578901002
1628090 1578901176
1628653 1578901282
1629874 1578901506
1630675 1578901650
1631768 1578901849
1632383 1578901968
1633977 1578902262
1635040 1578902457
1635362 1578902512
1636166 1578902659
1637354 1578902873
1638013 1578902991
1638414 1578903064
1638825 1578903142
1639611 1578903288
1640478 1578903448
1903298 1578994153
2135720 1579074723
1888458 1578991454
1888579 1578991476
1888971 1578991553
1889483 1578991652
1892099 1578992125
1892597 1578992217
1893899 1578992447
1894673 1578992581
1895247 1578992685
1896626 1578992933
1897036 1578993009
2816644 1579279101
2817356 1579279253
2818801 1579279560
2820010 1579279832
159011 1578326805
159502 1578326925
160153 1578327071
160665 1578327195
161461 1578327374
162335 1578327591
165757 1578328406
166458 1578328579
169182 1578329213
169958 1578329396
170347 1578329491
171025 1578329651
171607 1578329783
171985 1578329874
172424 1578329976
172945 1578330092
173539 1578330229
174073 1578330348
174334 1578330411
174952 1578330547
175764 1578330731
176952 1578331002
177917 1578331228
180667 1578331852
181361 1578332018
183883 1578332626
184312 1578332731
184728 1578332838
185577 1578333054
186173 1578333209
186993 1578333416
187453 1578333528
187752 1578333604
188209 1578333719
188713 1578333842
191620 1578334637
1634434 1578902343
1635048 1578902459
1635494 1578902534
1636257 1578902674
1637431 1578902886
1638361 1578903054
1638754 1578903129
1640472 1578903446
1640936 1578903537
1642191 1578903772
1642534 1578903838
1643055 1578903938
1644280 1578904174
1644765 1578904264
1645683 1578904445
1646254 1578904553
1646671 1578904629
1647077 1578904709
1647713 1578904832
1649145 1578905107
1650243 1578905316
1650715 1578905407
1651487 1578905559
1652412 1578905744
1653085 1578905874